<!doctype html>
<html lang="en" class="h-full">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pisvlek</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex">

	<meta property="og:title" content="">
	<meta property="og:type" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">

	<link rel="icon" href="/favicon.ico" sizes="16x16">

	<link rel="stylesheet" href="/css/pisvlek.min.css?nocache={% now "200601021504" %}">
	<script src="/js/vendor/htmx-2.0.3.min.js" defer></script>
</head>

<body class="flex flex-col bg-gray-900 text-white" style="min-height: 100vh;">
	{% block fullpage %}

	{% endblock %}
</body>

</html>